{% extends 'base.html.twig' %}
{% block title %}<title>Armenia Tree Project - Impact</title>{% endblock %}
{% block body %}
    <section class="impact secondary-pages-top-content" style="background:url('../uploads/images/{{ top.Image }}') no-repeat; background-size:cover; background-position: 100% 40%;">
        <div class="container" >
            <div class="row center-aligned-row">
                <div class="col-sm-6">
                    {% autoescape %}
                            <h1>{{ top.Title|raw }}</h1>
                    {% endautoescape %}
                </div>
                <div class="col-sm-6 cover-text">
                    {% autoescape %}
                            <p>{{ top.Text|raw }}</p>
                    {% endautoescape %}
                </div>
            </div>
        </div>
    </section>
    <div class="impact-main-content-wrapper">
        <section class="community-second">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10 col-xs-12 text-center">
                        {% autoescape %}
                                <p>{{ top.TextBottom|raw }}</p>
                        {% endautoescape %}
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
        </section>

        <!--Impact info graph section-->
        <section class="impact-info-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xs-12">
                        <div class="impact-info-graph hidden-xs">
                            {% for item in content %}
                                <div class="single-content-related-info" id="{{ item.Title }}_info">
                                    <div class="text-right">
                                        <img class="close-icon" src="../img/close.png" srcset="../img/close@2x.png" alt="">
                                    </div>
                                    {% autoescape %}
                                            {{ item.Text|raw }}
                                    {% endautoescape %}
                                </div>
                            {% endfor %}
                            <div class="impact-single-content-wrapper">
                                {% for item in content %}
                                    <div id="{{ item.Title }}">
                                        {% autoescape %}
                                                <h2>{{ item.Title|capitalize }}</h2>
                                        {% endautoescape %}
                                    </div>
                                {% endfor %}
                                <div>

                                </div>
                            </div>
                        </div>
                        <div class="impact-info-graph-mobile visible-xs text-center">
                            <img src="../img/info-m.png" srcset="../img/info-m@2x.png 2x" alt="">
                            {% for item in content %}
                                {% autoescape %}
                                        <p>{{ item.Text|raw }}</p>
                                {% endautoescape %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12 impact-info-points">
                        <ul>
                            <li>Protecting <span>water</span> resources</li>
                            <li>Creating better <span>living</span> habits</li>
                            <li>Sustaining <span>communities and families</span></li>
                            <li>Empowering <span>individuals</span></li>
                        </ul>
                        <a href="{{ path('team') }}">
                            <button>OUR TEAM</button>
                        </a>
                        <a href="{{ path('mission') }}">
                            <button>OUR MISSION</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!--Planted trees info section-->

    <section class="planting-info-wrapper">
        <div class="container">
            <h3 class="text-center">ARMENIA TREE PROJECT IS FOCUSED ON RESULTS NOW MORE THAN EVER</h3>
            <h4 class="text-center">We’re proud of how far we have come and we cannot wait to do more!</h4>
            {% set total = 0 %}
            {% for item in bottom %}
                {% if total == 0 %}
                    <div class="row">
                        <div class="col-lg-6 col-xs-12 text-center">
                            {% autoescape %}
                                    <p>{{ item.Text|raw }}</p>
                            {% endautoescape %}
                            <img src="../uploads/images/{{ item.Image }}" alt="">
                        </div>
                    {% set total = 1 %}
                {% elseif total == 1 %}
                        <div class="col-lg-6 col-xs-12 text-center">
                            {% autoescape %}
                                    <p>{{ item.Text|raw }}</p>
                            {% endautoescape %}
                            <a href="{{  item.Path }}">
                                <img src="../uploads/images/{{ item.Image }}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                </section>
                {% set total = 2 %}
                {% elseif total == 2 %}
                    <section class="impact-employment-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-xs-12 text-center">
                                    {% autoescape %}
                                            <p>{{ item.Text|raw }}</p>
                                    {% endautoescape %}
                                    <img src="../uploads/images/{{ item.Image }}" alt="">
                                </div>
                    {% set total = 3 %}
                {% elseif total == 3 %}
                                <div class="col-lg-6 col-xs-12 text-center">
                                    {% autoescape %}
                                            <p>{{ item.Text|raw }}</p>
                                    {% endautoescape %}
                                    <img src="../uploads/images/{{ item.Image }}" alt="">
                                </div>
                            </div>
                        </div>
                    </section>
                    {% set total = 4 %}
                {% elseif total == 4 %}
                    <section class="planting-info-wrapper tree-survival-info">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-xs-12 text-center">
                                    {% autoescape %}
                                            <p>{{ item.Text|raw }}</p>
                                    {% endautoescape %}
                                    <img src="../uploads/images/{{ item.Image }}" alt="">
                                </div>
                    {% set total = 5 %}
                {% elseif total == 5 %}
                                <div class="col-lg-6 col-xs-12 text-center">
                                    {% autoescape %}
                                            <p>{{ item.Text|raw }}</p>
                                    {% endautoescape %}
                                    <img src="../uploads/images/{{ item.Image }}" alt="">
                                </div>
                            </div>
                        </div>
                    </section>
                    {% set total = 6 %}
                {% endif %}
            {% endfor %}

    <!--Footer Section-->

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">Glossary</a>
                        </li>

                        <li>
                            <a href="{{ path('contact') }}">Contact Us</a>
                        </li><li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <ul>
                        <li class="hidden">
                            <a href="#">FAQ</a>
                        </li>
                        <li class="hidden">
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p> <span> Armenia Tree Project </span> <br> 400 West Cummings Park <br> Suite 3900, Woburn, MA 01801 USA <br> 617-926-TREE (8733)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <p class="copyright-text">&copy; Copyright 1994-2019 Armenia Tree Project, a project of Armenian Assembly of America. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right  social">
                    <p class="hashtag">#GetRooted</p>
                    <a target="_blank" href="https://www.facebook.com/armeniatree">
                        <img src="../img/facebook-logo.svg" alt="facebook">
                    </a>
                    <a target="_blank" href="https://twitter.com/ArmeniaTree">
                        <img src="../img/twitter-logo.svg" alt="twitter">
                    </a>
                    <a target="_blank" href="https://www.instagram.com/armeniatree/">
                        <img src="../img/instagram-logo.svg" alt="instagram">
                    </a>
                    <a target="_blank" href="https://www.youtube.com/user/ArmeniaTreeProject">
                        <img src="../img/youtube.svg" alt="youtube">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Custom Js Files-->
    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}